<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.cui.dao.mapper.TestMapper" >
    <resultMap id="BaseResultMap" type="com.spring.cui.dao.domain.Test" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List" >
        name, sex, create_time,update_time
    </sql>

    <!--<select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
    </select>-->

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM test
        WHERE id = #{id}
    </select>

    <select id="getTest" parameterType="com.spring.cui.dao.domain.Test" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM test
        WHERE 1=1
        <if test="name !=null">
            AND name=#{name}
        </if>
        limit 0,1
    </select>


    <insert id="addTest" parameterType="com.spring.cui.dao.domain.Test" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        test
        (<include refid="Base_Column_List" />)
        VALUES
        (#{name}, #{sex},now(),now())
    </insert>

    <!--<update id="update" parameterType="com.cui.spring.model.User" >
       UPDATE
       user
       SET
       <if test="userName != null">userName = #{userName},</if>
       <if test="passWord != null">passWord = #{passWord},</if>
       user_name = #{user_name}
       WHERE
       id = #{id}
   </update>

   <delete id="delete" parameterType="java.lang.Long" >
       DELETE FROM
       user
       WHERE
       id =#{id}
   </delete>-->
</mapper>