<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>首页管理</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"/>
                    崔劲松
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">菜单</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:test();">拓展</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>-->
            </ul>
        </div>
    </div>
    <div class="layui-body">
    <form class="layui-form" action="./add" method="post">
        <div class="layui-input-block"></div>
        <div class="layui-input-block"></div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓  名</label>
            <div class="layui-input-block">
                <input type="text" name="name" required="required"  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电  话</label>
            <div class="layui-input-block">
                <input type="text" name="phone" required="required"  lay-verify="required" placeholder="请输入电话" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学  号</label>
            <div class="layui-input-block">
                <input type="text" name="number" required="required"  lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">专  业</label>
            <div class="layui-input-block">
                <input type="text" name="remark" required="required"  lay-verify="required" placeholder="请输入专业" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">就业情况</label>
            <div class="layui-input-block">
                <select name="status" lay-verify="required">
                    <option value="4"></option>
                    <option value="0">已就业</option>
                    <option value="1">待业</option>
                    <option value="2">升学</option>
                    <option value="3">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">就业单位</label>
            <div class="layui-input-block">
                <input type="text" name="company" required="required"  lay-verify="required" placeholder="请输入就业单位或公司" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">就业形式</label>
            <div class="layui-input-block">
                <input type="text" name="workType" required="required"  lay-verify="required" placeholder="例如：自由职业、签订就业协议形式就业" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="1" title="男"/>
                <input type="radio" name="sex" value="0" title="女" checked="checked"/>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="yn" placeholder="随意留言" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="lay-submit" lay-filter="form">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    </div>
    <!--<div class="layui-progress" lay-showPercent="yes">
        <div class="layui-progress-bar layui-bg-red" lay-percent="100%"></div>
    </div>-->


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        欢迎毛荟同学
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(form)', function(data){
            layer.msg(JSON.stringify(data.field));
            form.submit();
            layer.msg("success")
            return false;
        });
    });
    function test(){
        alert("hahh");
    }

</script>
</body>
</html>